$primary-bg-color: #f1f3f6;
$header-bg-color: #05322b;
$primary-text-color: #05322b;
$secondary-text-color: #ffffff;
$primary-color: #02a783;
$secondary-color: #000000;
$color-white: #ffffff;
$box-shadow-color: #ededed;
$primary-section-bg-color: #424242;

